

<% if flash[:notice] %>
  <%= content_tag :h1, flash[:notice] %>
<% else %>
  <%= content_tag :h1, "Please Log in" %>
<% end %>

<%= form_with url: sessions_path do |form| %>
<label for="inputEmail4">Email</label><br>
  <%= form.text_field :email %><br>
  <label for="inputPassword4">Password</label><br>
  <%= form.password_field :password %><br>
  <%= link_to "Sign Up", new_user_path %>
  <%= form.submit "Sign In!" %>
<% end %>
