<div id="<%= dom_id job %>">
  <p>
    <strong>Company:</strong>
    <%= job.company_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= job.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= job.description %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= job.url %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= job.location %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= job.active %>
  </p>

  <p>
    <strong>Salary range:</strong>
    <%= job.salary_range %>
  </p>

</div>
