<p style="color: green"><%= notice %></p>

<h1>Available Jobs</h1>

<div id="jobs-title">
  <% @jobs.each do |job| %>
    <p>
      <h3><%= job.title%></h3>
    <p>
     
      <%= link_to job.company.name, job.company %>
    </p>
    <p>
      <%= job.description%>
    </p>
    
  <% end %>
</div>

<div> <%= link_to "Sign In", new_user_path %>
</div>



