
<div class="card" style="width: 40rem;">
  <img src="<%= company.logo %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= company.name %></h5>
    <p class="card-text"><%= company.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
  
    <div id="job">
    <strong>Available Positions</strong>
  <% company.jobs.each do |job| %>
    <p><%= job.title %></p>
  <% end %>
  
</div>
    </li>
    <li class="list-group-item">
    <div id="salary">
  <% company.jobs.each do |job| %>
    <p><%= job.salary_range %></p>
  <% end %>
    </li>
    <li class="list-group-item">
      <div id="description">
  <% company.jobs.each do |job| %>
    <p><%= job.description %></p>
  <% end %>
    </li>
  </ul>
</div>

