<div class="card" style="width: 25rem;">
  <img src="<%= @company.logo %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= @company.name %></h5>
    <p class="card-text"><%= @company.description %></p>
    <% @company.jobs.each do |job| %>
     <li class="list-group-item">
    <p><strong>Available Position</strong></p>
    <p><%= job.title %></p>
    </li>
      <li class="list-group-item">
    <p><%= job.salary_range %></p>
    </li>
      <li class="list-group-item">
    <p><%= job.description %></p>
    </li>
    <% end %>
  </div>
 

<div>
  <%= link_to "Back to companies", companies_path %>
</div>
