<p style="color: green"><%= notice %></p>

<%= render @company %>

<div>
 
  <%= link_to "Back to companies", companies_path %>

  <%
=begin%>
 <%= link_to "Edit this company", edit_company_path(@company) %>
 <%= button_to "Destroy this company", @company, method: :delete %> 
<%
=end%>
</div>
